@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ::-webkit-scrollbar {
    @apply w-[7.5px];
  }

  ::-webkit-scrollbar-track {
    @apply dark:bg-neutral-900 bg-neutral-200;
  }

  ::-webkit-scrollbar-thumb {
    @apply dark:bg-neutral-600 bg-neutral-400 rounded-full;
  }

  section {
    @apply min-w-[320px] min-h-[700px];
  }

  .round {
    @apply rounded-[20px] md:rounded-[40px] lg:rounded-[60px];
  }

  .content-text {
    @apply flex flex-col justify-center lg:min-h-[80vh] lg:w-[70%] xl:w-[60%] 2xl:w-[50%] content-padding mx-[20px] lg:m-0 bg-neutral-100/30 dark:bg-neutral-900/30 lg:bg-transparent dark:lg:bg-transparent z-[100] round lg:rounded-none backdrop-blur-[8px] lg:backdrop-blur-none;
  }

  .content-image {
    @apply absolute lg:relative flex justify-center items-center h-full lg:h-auto lg:min-h-[80vh] w-full lg:w-[30%] xl:w-[40%] 2xl:w-[50%] opacity-50 lg:opacity-100;
  }

  .image-crop {
    @apply h-full w-full overflow-hidden;
  }

  .image-crop img {
    @apply h-full w-full object-cover scale-[1.1];
  }

  .content-padding {
    @apply px-[20px] md:px-[40px] 2xl:px-[60px] py-[20px] xl:py-[40px];
  }

  .content-gap {
    @apply gap-[10px] md:gap-[15px] lg:gap-[20px];
  }

  .counter-padding {
    @apply p-[10px] md:p-[20px];
  }

  .counter-value {
    @apply text-7xl xl:text-8xl text-manrope font-light leading-none;
  }

  .dialog {
    @apply bg-neutral-100/75 dark:bg-neutral-900/75;
  }

  .dialog-anim {
    @apply opacity-0 -translate-y-[40px];
  }

  .dialog-padding {
    @apply p-[20px] md:p-[40px];
  }

  .dialog-header {
    @apply pr-[20px] md:pr-[40px];
  }

  .dialog-close {
    @apply absolute top-[10px] md:top-[20px] right-[10px] md:right-[20px] w-[20px] md:w-[30px] cursor-pointer text-red-600 dark:text-red-400;
  }

  .dialog-text {
    @apply text-base md:text-lg lg:text-xl text-manrope text-neutral-900 dark:text-neutral-100;
  }

  .text-logo {
    @apply ml-[10px] lg:ml-[20px] text-xl md:text-2xl xl:text-3xl text-raleway text-neutral-900 dark:text-neutral-100;
  }

  .text-nav {
    @apply text-base md:text-lg xl:text-xl uppercase text-neutral-900 dark:text-neutral-100;
  }

  .hello-title {
    @apply text-4xl md:text-6xl lg:text-7xl 2xl:text-8xl text-raleway font-bold text-neutral-900 dark:text-neutral-100;
  }

  .hello-subtitle {
    @apply text-base md:text-lg lg:text-xl 2xl:text-2xl text-manrope opacity-80 text-neutral-900 dark:text-neutral-100;
  }

  .title {
    @apply mb-[10px] text-3xl md:text-4xl lg:text-5xl text-raleway font-bold text-neutral-900 dark:text-neutral-100;
  }

  .subtitle {
    @apply mb-[20px] md:mb-[40px] text-base md:text-lg lg:text-xl text-manrope opacity-80 text-neutral-900 dark:text-neutral-100;
  }

  .text {
    @apply mb-[20px] md:mb-[40px] text-lg md:text-xl lg:text-2xl 2xl:text-3xl text-manrope text-neutral-900 dark:text-neutral-100;
  }

  .subtext {
    @apply text-base md:text-lg xl:text-xl text-manrope text-neutral-900 dark:text-neutral-100;
  }

  .icon {
    @apply w-[20px] lg:w-[30px] duration-200 text-neutral-900 dark:text-neutral-100;
  }

  .button {
    @apply px-[25px] py-[7.5px] hover:scale-95 text-base md:text-lg xl:text-xl text-manrope text-center rounded-2xl duration-200 disabled:grayscale disabled:scale-95;
  }

  .button-sm {
    @apply px-[15px] py-[5px] hover:scale-95 text-sm md:text-base xl:text-lg text-manrope text-center rounded-full duration-200;
  }

  .form {
    @apply grid grid-cols-1 md:grid-cols-2 gap-[15px] md:gap-[20px] mb-[20px] md:mb-[40px] text-lg line-height-1;
  }

  .label {
    @apply flex flex-col gap-[5px] md:gap-[10px] text-neutral-900 dark:text-neutral-100;
  }

  .label span {
    @apply text-manrope ml-3;
  }

  .input {
    @apply px-2 py-2 w-full min-h-[50px] border-4 text-manrope border-app-100/20 bg-transparent rounded-xl text-neutral-900 dark:text-neutral-100;
  }

  .checkbox {
    @apply w-[20px] h-[20px] accent-app-100 dark:accent-app-150;
  }

  .checkbox-label {
    @apply flex justify-center items-center text-lg text-manrope rounded-2xl text-neutral-900 dark:text-neutral-100;
  }

  .account-form {
    @apply flex flex-col w-full max-w-2xl gap-[20px] p-[20px] md:p-[40px] text-lg line-height-1 bg-neutral-100/50 dark:bg-neutral-800/50 round text-neutral-900 dark:text-neutral-100;
  }

  .account-label {
    @apply relative flex flex-col gap-[5px] md:gap-[10px] rounded-2xl text-neutral-900 dark:text-neutral-100;
  }

  .account-label span {
    @apply text-manrope ml-3;
  }

  .account-label input {
    @apply px-2 py-2 w-full min-h-[50px] border-4 text-manrope dark:border-neutral-200 border-neutral-800 bg-transparent rounded-xl;
  }

  .buttons-navbar {
    @apply flex flex-wrap justify-center p-[10px] gap-[20px] lg:gap-[40px] bg-neutral-100/50 dark:bg-neutral-800/50 rounded-2xl text-neutral-900 dark:text-neutral-100;
  }
}

@layer utilities {
  @font-face {
    font-family: "Raleway", sans-serif;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    src: url("./assets/Raleway-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Manrope", sans-serif;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    src: url("./assets/Manrope-Regular.ttf") format("truetype");
  }

  ::selection {
    background: #ff9b41;
    color: #101010;
  }

  button {
    user-select: none;
  }

  .dark {
    color-scheme: dark;
  }

  .text-manrope {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
  }

  .text-raleway {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }

  .text-vertical-rl {
    writing-mode: vertical-rl;
  }

  .line-height-1 {
    line-height: 1;
  }

  .dialog::backdrop {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
}
